.dropdown {
  padding: 1rem;
  background-color: var(--clr-gray-100);
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__element {
    cursor: pointer;
  }
}
