:root {
  --clr-gray-100: hsla(0, 0%, 97%, 1); // #f9f9f9
  --clr-gray-200: hsl(0, 0%, 69%);

  --clr-green-300: hsla(103, 54%, 97%, 1); // #f7fcf5;
  --clr-green-400: hsla(103, 51%, 85%, 1);
  --clr-green-500: hsla(101, 8%, 40%, 1);
  --clr-green-600: hsla(103, 8%, 17%, 1); // #2b3029
  --clr-green-700: hsla(103, 40%, 58%, 1); // #80BE68
}
