:root {
  --clr-gray-100: hsla(0, 0%, 97%, 1);
  --clr-gray-200: hsl(0, 0%, 69%);

  --clr-green-300: hsla(103, 54%, 97%, 1);
  --clr-green-400: hsla(103, 51%, 85%, 1);
  --clr-green-500: hsla(101, 8%, 40%, 1);
  --clr-green-600: hsla(103, 8%, 17%, 1);
}
