.home {
  color: var(--clr-green-600);

  &__hero {
    &__container {
      display: flex;
    }
  }

  &__half {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    min-height: 1000px;
  }

  &__half:nth-child(2) {
    background-color: var(--clr-green-300);
  }

  &__wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 70%;

    p {
      max-width: 450px;
    }
  }

  &__wrapper2 {
    margin: 0 20px;
    display: flex;
    align-items: center;
    background-color: var(--clr-green-300);
    height: 80%;

    &__image-container {
      display: flex;
      align-items: flex-end;
      flex-wrap: nowrap;
      width: 50%;
    }
  }
}

@media (max-width: 1105px) {
  .home {
    &__hero {
      &__container {
        flex-direction: column;
      }
    }
    &__half {
      height: 500px;
      width: 100%;
      min-height: 0;
      padding: 0 20px;
    }

    &__wrapper2 {
      margin: 0;
      &__image-container {
        height: 100%;
      }
    }

    &__wrapper1 {
      width: 90%;

      p {
        font-size: 1rem;
      }

      h1 {
        font-size: 3rem;
      }
    }
  }
}
