.navbar {
  width: 95%;
  position: absolute;
  top: 20px;
  left: 3%;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  &__links {
    display: flex;
    align-items: center;
    gap: 40px;

    button {
      white-space: nowrap;
    }
  }
}

.profile {
  display: flex;
  gap: 5px;
  cursor: pointer;
  position: relative;

  &__image:first-child {
    width: 42px;
  }

  &__dropdown {
    right: 0;
  }
}

.basket {
  position: relative;
  cursor: pointer;

  &__image {
    display: block;
  }

  &__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 24px;
    top: 6px;

    background: #f35858;
    border-radius: 53px;
  }
}

@media (max-width: 600px) {
  li:nth-child(-n + 2) {
    // first two elements
    display: none;
  }
}
