nav {
  width: 95%;
  position: absolute;
  top: 20px;
  left: 3%;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;

    button {
      white-space: nowrap;
    }

    .user-icon {
      display: flex;
      gap: 5px;
      cursor: pointer;
      position: relative;

      img:first-child {
        width: 42px;
      }

      &__modal {
        position: absolute;
        top: 75px;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
      }
    }

    .basket {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;

      a {
        height: 44px;
      }
    }

    .basket-notification {
      display: flex;
      justify-content: center;
      font-size: 10px;
      color: white;
      position: absolute;
      width: 14px;
      height: 14px;
      left: 30px;
      top: 6px;

      background: #f35858;
      border-radius: 53px;
    }
  }
}

@media (max-width: 600px) {
  li:nth-child(-n + 2) {
    // first two elements
    display: none;
  }
}
